/* You can add global styles to this file, and also import other style files */

* {
  background: rgb(36, 36, 36);
  color: white;
}

.products--grid {
  app-img {
    img {
      border-radius: 10px;
    }
  }
}
